{% extends "home/dash_index.html" %}
{% load static %}

{% block title %}Add New Deck{% endblock title %}

{% block main-content %}
    <main class="container mx-auto px-4 py-10 flex justify-center items-center min-h-[80vh]">
        <div class="w-2/3 bg-white rounded-lg shadow-lg p-8">
            <div class="text-center mb-8">
                <h1 class="text-3xl font-bold text-gray-800 mb-2">New Deck</h1>
                <p class="text-gray-600">Salva il tuo nuovo mazzo</p>
            </div>
            <form method="POST" class="space-y-6">
                {% csrf_token %}
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <div class="space-y-2">
                        <label for="" class="block text-sm font-medium text-gray-700">Name</label>
                        <div class="relative">
                            {{ deck_form.name }}
                            {% if deck_form.name.errors %}
                                {% for error in deck_form.name.errors %}
                                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="space-y-2">
                        <label for="{{ deck_form.image_type.id_for_label }}" class="block text-sm font-medium text-gray-700">Image Type</label>
                        <div class="relative">
                            {{ deck_form.image_type }}
                            {% if deck_form.image_type.errors %}
                                {% for error in deck_form.image_type.errors %}
                                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
                    <div class="space-y-2">
                        <label for="{{ deck_form.color.id_for_label }}" class="block text-sm font-medium text-gray-700">Colori</label>
                        <div class="relative">
                            {{deck_form.color}}
                            {% if deck_form.color.errors %}
                                {% for error in deck_form.color.errors %}
                                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="space-y-2">
                        <label for="{{ deck_form.image.id_for_label }}" class="block text-sm font-medium text-gray-700">Base 64 Immagine</label>
                        <div class="relative">
                            {{deck_form.image}}
                             {% if deck_form.image.errors %}
                                {% for error in deck_form.image.errors %}
                                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                    <div class="hidden">
                        {{deck_form.player}}
                    </div>
                {% if deck_form.non_field_errors %}
                    {% for error in deck_form.non_field_errors %}
                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <button
                    class="w-full bg-primary text-white py-2 px-4 !rounded-button hover:bg-opacity-90 transition-colors duration-200 flex items-center justify-center">
                    <i class="ri-login-circle-line mr-2"></i>
                    <a href="{% url 'dashboard' %}">Annulla</a>
                </button>
                    <button type="submit"
                        class="w-full bg-primary text-white py-2 px-4 !rounded-button hover:bg-opacity-90 transition-colors duration-200 flex items-center justify-center">
                        <i class="ri-login-circle-line mr-2"></i>
                        Salva
                    </button>
                </div>
            </form>
        </div>
    </main>
{% endblock main-content %}