{% extends "index.html" %}
{% load static %}

{% block title %}Lista Decks{% endblock title %}

{% block main-content %}
    <main class="container mx-auto px-4 py-10">
        <div class="flex justify-between items-center mb-8">
            <h1 class="text-3xl font-bold text-gray-800">Lista Mazzi di {{ player_username|title }}</h1>
            <button
                class="bg-primary hover:bg-opacity-80 text-white px-6 py-3 rounded whitespace-nowrap transition-colors duration-300 flex items-center">
                <a href="{% url 'player-view' %}">Indietro</a>
            </button>
        </div>
        <!-- Lista Mazzi -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            {% for deck in decks %}  
                <div class="bg-white rounded-lg shadow-md overflow-hidden card-hover">
                    <div class="h-60 bg-cover"
                        style="background-image: url('{{deck.image_type}}, {{deck.image}}')">
                    </div>
                    <div class="p-4">
                        <div class="flex justify-between items-start mb-2">
                            <h3 class="text-xl font-semibold text-gray-800 line-clamp-3 max-w-3/4">{{deck.name}}</h3>
                            <div class="flex space-x-1">
                                {% for color in deck.color.all %}
                                    <img src="{% static color.image %}"
                                        alt="{{ color.name }}" class="w-5 h-5">
                                {% endfor %}
                            </div>
                        </div>
                        <div class="space-y-4">
                            <div
                            class="flex items-center justify-between p-3 bg-gray-50 rounded-lg"
                            >
                                <div class="flex items-center">
                                    <div
                                    class="w-8 h-6 flex items-center justify-center bg-yellow-100 text-yellow-600 rounded-full mr-3"
                                    >
                                    <i class="ri-trophy-fill"></i>
                                    </div>
                                </div>
                                <div class="text-primary font-medium">{{ deck.win }} vittorie</div>
                            </div>
                            <div
                            class="flex items-center justify-between p-3 bg-gray-50 rounded-lg"
                            >
                                <div class="flex items-center">
                                    <div
                                    class="w-8 h-6 flex items-center justify-center bg-red-100 text-red-600 rounded-full mr-3"
                                    >
                                    <i class="ri-sword-fill"></i>
                                    </div>
                                </div>
                                <div class="text-primary font-medium">{{ deck.defeat }} sconfitte</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock main-content %}