{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css">
    <link rel="stylesheet" href="{% static "style.css" %}"></link>
    <title>
        {% block title %}{% endblock  %}
    </title>
    {% tailwind_css %}
    {% block css_files %}{% endblock  %}
</head>
<body>
    <nav class="bg-secondary text-white shadow-md">
        <div class="container mx-auto px-4 py-3 flex justify-between items-center">
            <a href="{% url 'home-page' %}" class="text-2xl font-['Montserrat'] text-white">Borborygbros</a>
            <button class="bg-primary hover:bg-opacity-80 text-white px-6 py-2 rounded-sm rounded-button whitespace-nowrap transition-colors duration-300 flex items-center">
                <i class="ri-user-line mr-2"></i>
                Accedi
            </button>
        </div>
    </nav>
    {% block main-content %}{% endblock %}
</body>
<script src="{% static 'js/main.js' %}"></script>
{% block script-section %}{% endblock %}
</html>